<div>
    <div class="card mb-4 rounded-0">
        <div class="card-body" style="padding: 0px; height: 45rem;">
            <div class="row">
                <div class="col-6  mt-1 mb-1">
                    <div class="d-flex p-3">
                        <div class="mr-2">
                            <div class="bg-success" style="width: 70px; height: 70px;"></div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-bold" style="font-weight: bold; font-size: 25px;">Lester Padul</span>
                            <div>padullester@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-row-reverse align-items-start p-3">
                       <a href="#" class="btn btn-info btn-icon-split rounded-0 btn-md">
                            <span class="icon text-white-50">
                                <i class="fas fa-hand-holding-usd"></i>
                            </span>
                            <span class="text">Donate!</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills p-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Photos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Donations</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="m-0">
        </div>
    </div>
</div>

<div id="container_message_view"></div>
<%= javascript_pack_tag 'message' %>