<!DOCTYPE html>
<html>
    <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        HTML CONTENT
        <hr>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore porro, aliquid similique omnis voluptatum tenetur error, earum nesciunt voluptates unde architecto explicabo. Praesentium ea aspernatur quas minima atque quisquam nulla?
    </body>
</html>